<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ page.base_url }}" class="navbar-brand">The Linell</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "projects" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}projects">Projects</a>
        </li>
        <li{% if page.slug == "resume" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}resume">Hire Me</a>
        </li>
        <li{% if page.slug == "social" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}social">Social</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
